/**************************FOOTER****************************/
footer {
    padding-bottom: 50px;
    .flex {
        justify-content: space-between;
        align-items: center;
    }
    img {
        width: 36px;
        height: 36px;
    }
    .content {
        padding-top: 50px;
    }
    .copy {
        margin-top: 30px;
        text-align: center;
        font-weight: 100;
    }
}
